body{

font-family:'Josefin Sans', sans-serif;

}


.section{

padding-top:50px;
padding-bottom:50px;

}



.hero{


height:500px;

background-image:

linear-gradient(
rgba(0,0,0,0.5),
rgba(0,0,0,0.5)
),

url("https://images.pexels.com/photos/1756062/pexels-photo-1756062.jpeg");


background-size:cover;

background-position:center;

display:flex;

align-items:center;

color:white;


}



.hero h1{

font-size:60px;

font-weight:700;

}



.card img{

height:250px;

object-fit:cover;

}



.brand-logo{

font-weight:700;

}



footer{

padding:30px;

}

.flag{

width:28px;
height:auto;
vertical-align:middle;
margin-right:5px;

}